<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>

  <body class="bg-gray-100">
    <div class="flex">
      <%- include('../partials/sidebar.ejs'); %>
      <div class="w-full p-10 ml-64">
        <form id="promotionForm" method="post" action="/promotions/edit">
          <% if (item) { %>
            <input type="hidden" name="id" value="<%= item.id %>">
          <div class="flex justify-between items-center">
            <a href="/promotions" class="text-blue-500 mb-4 inline-block"
              >&larr; Back to promotion listing</a
            >
            <button
              type="submit"
              class="px-4 py-2 bg-green-500 text-white rounded-lg mr-2 text-sm w-24"
            >
              Save
            </button>
          </div>
          <div class="flex mt-7">
            <div class="bg-white p-6 rounded-lg w-4/6">
              <h2 class="text-2xl font-bold mb-6">Add Promotion</h2>
              <div class="grid grid-cols-2 gap-6">
                <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >Code</label
                  >
                  <input
                  value="<%= item.code %>"
                    required
                    type="text"
                    name="code"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                    placeholder="Code"
                  />
                </div>
                <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >Status</label
                  >
                  <select
                    required
                    name="isActive"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  >
                  <option value="true" <%=(item.isActive===true) && 'selected' %>>Active</option>
                  <option value="false" <%=(item.isActive===false) && 'selected' %>>Inactive</option>
                  </select>
                </div>
                <!-- <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >Level</label
                  >
                  <select
                    required
                    name="level"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  >
                    <% levels.forEach(level => { %>
                    <option  <%=(item.level=== level) && 'selected' %> value="<%= level %>"><%= level %></option>
                    <% }); %>
                  </select>
                </div> -->
                <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >Start Date</label
                  >
                  <input
                  id="startDate"
                  value="<%= item.startDate ? new Date(item.startDate).toISOString().split('T')[0] : '' %>"
                    required
                    type="date"
                    name="startDate"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                </div>
                <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >End Date</label
                  >
                  <input
                  id="endDate"
                  value="<%= item.endDate ? new Date(item.endDate).toISOString().split('T')[0] : '' %>"

                    required
                    type="date"
                    name="endDate"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                  />
                  <p class="text-red-500 text-xs mt-1 hidden" id="dateError">End date must be after the start date.</p>


                </div>

              </div>
            </div>
          </div>
          <% } %>

        </form>
      </div>
    </div>
    <script>
      document.getElementById('promotionForm').addEventListener('submit', function(event) {
        let isValid = true;

        const startDate = document.getElementById('startDate');
        const endDate = document.getElementById('endDate');

        // Check if start date is earlier than end date
        if (startDate.value && endDate.value && new Date(startDate.value) >= new Date(endDate.value)) {
          isValid = false;
          dateError.classList.remove('hidden');
        } else {
          dateError.classList.add('hidden');
        }

        if (!isValid) {
          event.preventDefault();
        }
      });
    </script>
  </body>
</html>
